.services-header
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.services-header img
{
	width: 100%;
	height: 100vh;
	
	display: block;
	object-fit: cover;
}

.services-jumbotron
{
	background-color: #EDBB99;
	color: #6E2C00;

	padding: 1rem;
	margin-bottom: 5rem;
}